<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
<form action="/api/v1/listingAllCalls" method="post">
    <div>
        <label>companyId:</label>
        <input type="text" name="companyId" value="361072581"/>
    </div>
    <div>
        <label>startDate:</label>
        <input type="date" name="startDate"/>
    </div>
    <div>
        <label>endDate:</label>
        <input type="date" name="endDate"/>
    </div>
    <div>
        <label>Type:</label>
        <select name="attachmentFormat">
            <option value="csv">CSV</option>
            <option value="xlsx">Excel (xlsx)</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Get"/>
    </div>
</form>
</body>
<script>
  $('input[name="dates"]').daterangepicker();
</script>
</html>
